{% extends 'base.html.twig' %}

{% block title %}Jeu-de-carte{% endblock %}

{% block body %}
<style>
</style>

<div class="example-wrapper">
    <h1> Jeu de carte</h1>

        <div> {{ dump() }} </div>
        
    <h2>Main de cartes aléatoires :</h2>
        <ul>
            {% for card in randomCards %}
                <li>{{ card.string }} {{ card.value }}</li>
            {% endfor %}
        </ul>

        <h2>Main de cartes triées par valeur :</h2>
        <ul>
            {% for card in sortCards %}
                <li>{{ card.string }} {{ card.value }}</li>
            {% endfor %}
        </ul>

</div>

<div>
</div>
{% endblock %}
