{# templates/jeu_de_cartes.html.twig #}

{% extends '/base.html.twig' %} 

{% block title %} Cards Game {% endblock %} 

{% block body %}


    {% if hand is defined %}
         <h1>Les cartes</h1>
            <ul>
                {% for cards in Cards %}
                    <li>{{ hand.couleurs }}{{hand.valeurs}}</li>
                    <li></li>
                {% endfor %}
            </ul>

        <h2>Main non trié :</h2>

            <ul>
                {% for cards in hand %}
                    <li>{{ cards.color }} {{ cards.value }}</li>
                {% endfor %}
            </ul> 

        <h2>Main trié :</h2>
        
            <ul>
                {% for cards in handSorted %}
                    <li>{{ cards.color }} {{ cards.value }}</li>
                {% endfor %}
            </ul>
    {% endif %}
{% endblock %}
